@page
@inject IViewLocalizer Localizer
@model WoWning.Areas.Landingpage.Pages.Main.IndexModel
@{
    ViewData["Title"] = Localizer["Home Page"];
}
<div>
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <h4>@Localizer["Idea"]</h4>
    @Localizer["Intro"]
</div>
