@page
@inject IViewLocalizer Localizer
@model WoWning.Areas.Landingpage.Pages.Main.IndexModel
@{
    ViewData["Title"] = Localizer["Home Page"];
}
<div>
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <h4>Idea</h4>
    <p>As WoW Classic is being restarted a lot of people will be in need of gear, potions, enchants, food, ... </p>
    <p>A lot of these things will be available on the AH but there are a few shortcomings.</p>
    <ul>
        <li>The prices of items on the AH are sometimes outrageous in comparison to the actual materials required for crafting the item</li>
        <li>The item that you desperately need might not be listed on the AH</li>
        <li>You may have the materials required for the item that you want but you want to avoid the hassle of selling those materials to get money to buy the item you want</li>
        <li>There are no vellums so enchanting still needs to be done by manually trading</li>
        <li>The prices on AH can be very volatile and not all players use the AH with the best intentions</li>
        <li>Nothing beats the personal interaction of a manual trade</li>
        <li>...</li>
    </ul>
    <p>So, what we propose is a system where people advertise all the recipes they have together with the tip they expect when crafting the recipe for someone.</p>
    <p>Through a simple search, you can see which characters have a certain recipe on your server and contact the player in-game. It's that easy.</p>
    <h4>Things we don't do</h4>
    <p>We will not use your data to give to any external service or party. Your data is secured within our own walls.</p>
    <p>The data you input will only be used by other users when displaying individual recipes! We do not expose all your recipes at once to another user.</p>
    <p>We're simply enabling you to identify other players on your server. The actual act of contacting, negotiating and the actual transaction is your responsibility.</p>
    <p>If any transaction goes wrong, we at WoWning.com cannot be held responsible. You can always give that player a thumbs down. </p>
    <h4>How does it work?</h4>
    <p>First of alll, create an account by registering (PLEASE use a different password than your WoW-password!) or by logging in through Facebook, Twitter, Google or Microsoft.</p>
    <p>Once logged in, you can create characters by going to the 'Character' menu and clicking on 'Create New'. Some required data is needed to uniquely identify your character(s)</p>
    <p>For each character, you can add known recipes in the 'Recipes' menu. Simply select a character and one of its professions to load a list of all the possible recipes.</p>
    <p>Simply select a recipe and fill in the expected tip and click save to start advertising your recipe to other players.</p>
    <p>To find a recipe from other players on your server, go to the 'Search' menu and select the server and side and start entering the recipe you want.</p>
    <p>When searching, a list of players will be shown who own the recipe. Also the name of the alts for that player on that server are shown so you can try to contact the player more easily.</p>
    <p>Was the transaction succesful? Give the player a thumbs up! Only give a thumbs down when the other player tried to cheat you in any way.</p>
    <p>You can only recommend or dislike another player once a week!</p>
    <h4>Questions? </h4>
    <p>Any questions, bugs or idea can be posted through our <a style="color: #007bff;" href="./Landingpage/Main/Contact">contact form</a></p>
</div>
