@page
@inject IViewLocalizer Localizer
@model WoWning.Areas.Landingpage.Pages.Main.PrivacyModel
@{
    ViewData["Title"] = Localizer["Privacy Policy"];
}
<h1>@ViewData["Title"]</h1>
@Localizer["Policy"]