@page
@inject IViewLocalizer Localizer
@model ForgotPasswordModel
@{
    ViewData["Title"] = Localizer["Forgot your password?"];
}

<h1>@ViewData["Title"]</h1>
<h4>@Localizer["Enter your email."]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-at"></i></span>
                    </div>
                    <input asp-for="Input.Email" placeholder="@Localizer["Email"]" class="form-control" />
                    <div class="invalid-feedback" style="display:block;">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}