@page
@inject IViewLocalizer Localizer
@model WoWning.Areas.Identity.Pages.Account.RegistrationCompleteModel
@{
    ViewData["Title"] = Localizer["Registration Complete"];
}
<h1>@ViewData["Title"]</h1>
<p>@Localizer["An email will be sent for verification. Please follow the instructions of this email before trying to log in."]</p>